@import "tailwindcss";

:root {
  --font-stack: var(--font-nanum), system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

body {
  font-family: var(--font-stack);
}

@layer base {
  button {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
  input {
    outline: none;
  }
}

@layer components {
  .custom-shadow {
    @apply border-2 border-slate-900 shadow-[4px_4px_0_theme(colors.slate.900)];
  }
  .btn-image {
    @apply w-4 h-4 bg-no-repeat bg-center bg-contain;
  }
  .list {
    @apply w-[588px] max-md:w-full;
  }
  .default-section {
    @apply flex py-16 justify-center items-center flex-col gap-6 max-md:py-0 max-sm:gap-4;
  }
  .default-bg {
    @apply w-[240px] h-[240px] bg-no-repeat bg-center bg-contain max-sm:w-[120px] max-sm:h-[120px];
  }
  .default-text {
    @apply text-center text-slate-400 font-bold;
  }
  .check-btn {
    @apply flex items-center justify-center w-8 h-8 rounded-full cursor-pointer;
  }
  .memo-textarea {
    @apply rounded-xl outline-none resize-none text-slate-800 w-full h-[calc(100%-40px)] pr-0.5;
  }
  .memo-textarea::-webkit-scrollbar {
    @apply w-1;
  }
  .memo-textarea::-webkit-scrollbar-track {
    @apply bg-transparent rounded-sm;
  }
  .memo-textarea::-webkit-scrollbar-thumb {
    @apply bg-amber-200 rounded-sm;
  }
}
